<div class="row">
  <div class="col-sm-6">
    <h1>{{ "viewers.viewers" | transloco }}</h1>
  </div>
  <div class="col-sm-6 text-end">
    <button type="button" class="btn btn-sm btn-primary mb-1 me-1" (click)="invite()">{{ "button.invite" | transloco }}</button>
    <button type="button" class="btn btn-sm btn-secondary mb-1" (click)="back()">{{ "button.back" | transloco }}</button>
  </div>
</div>

<div class="row">
  <div id="videos" class="col-sm-12">
    <div class="waiting mx-auto my-5" *ngIf="waiting">{{ "viewers.waiting" | transloco }}</div>
  </div>
</div>
